<% if notice %>
  <p class="notice alert alert-info" role="alert">
    <%= notice %>
  </p>
<% end %>

<% if alert %>
  <div class="notice alert alert-secondary" role="alert">
    <%= alert %>
  </div>
<% end %>
